@font-face {
    font-family: "Comfortaa";
    src: url("../../fonts/comfortaa/Comfortaa-Regular.ttf");
}

body{
    font-family: 'Comfortaa', Arial, sans-serif !important;
    background-image: url('../../img/kingo/fondo1.png');
    background-attachment: fixed;
    background-size: cover;
}

.btn-conv{
    background: linear-gradient(90deg, rgba(51,20,69,1) 0%, rgba(222,2,90,1) 100%);
    color: white;
    border: none;
}

.btn-conv:hover{
    color: gray
}

.btn-puntos{
    background-color: #7b0041;
    color: white;
    border: none;
}

.btn-puntos:hover{
    color: gray
}


body{
    background-color: #ffffff;
}

.menu{
    color: black;
}

.kingoTittle{
    font-size: 80px;
    color: #000;
}

.modal-dialog{
    margin: 1.75rem auto;
}

.prl{
    margin-top: 10px;
    border-left: 5px double #8a9594;
    border-radius: 5px 5px 5px 5px;
    border-right: 5px double #8a9594;
}

.prr{
    margin-top: 10px;
    border-right: 5px double #8a9594;
    border-radius: 5px 5px 5px 5px;
    border-left: 5px double #8a9594;
}

.bd-estatusper-modal-xl input{
    border: 1px solid blueviolet;
    border: none;
}

.badge-puntosV {
    color: #dde5f7;
}

h4{
    color: #000;
}

a{
    color: #000;
    text-decoration: none;
    background-color: transparent;
}

.btnExcel{
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    border: none;
    font-size: 14px;
    padding: 9px 18px;
    transition: 0.3s;
}

.btnExcel:hover{
    background-image: linear-gradient(135deg, #764ba2 0%, #667eea 100%);
}

.dataTables_filter input{
    border: 1px solid #805dca;
}

.flaticon-warning{
    font-size: 90px;
    background: -webkit-linear-gradient(#ff6f00, #ffbb44);
    -webkit-text-fill-color: transparent;
}

.container span{
    text-transform: uppercase;
    display: block;
}

.mainCloseButton {
    margin-top: -30px !important;
    margin-right: -28px !important;
}

.input-group-text{
    border-top-left-radius: 50px !important;
    border-bottom-left-radius: 50px !important;
}

.form-control:disabled, .form-control[readonly]{
    border: none;
    border: 1px solid #3d2378;
}

.mainTextWarning{
    color: #ff6f00;
}

.btn:hover{
    color: #000 !important;
}

.mainTittle{
    width: 75% !important;
    border-bottom: 4px solid #f8712f !important;
}

.swal2-popup{
    border-radius: 50px !important;
}

.swal2-footer{
    color: #e95f2b !important;
}

#chat-circle i {
    font-size: 30px;
    color: #fff;
    padding: 16px;
    background: #488e34;
        background-image: none;
    background-image: none;
    background-image: linear-gradient(to right, #dc025a 0%, #361445 100%);
    border-radius: 50%;
    letter-spacing: 0;
}

#chat-circle {
    position: fixed;
    bottom: 55px;
    right: 15px;
    background-color: transparent;
    border-radius: 5px;
    color: #fff;
    padding: 0;
    z-index: 999;
    cursor: pointer;
    box-shadow: none;
    outline: 0;
    -webkit-transition: background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1), color 0.2s cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1);
    transition: background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1), color 0.2s cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1);
    -o-transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1), color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1), color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1), color 0.2s cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1);
    will-change: box-shadow, transform;
}

hr{
    border-top: 3px solid #000 !important;
}

.btnEstatus{
    margin-top: -40px;
    background-color: #05b7c0;
    border: 3px solid #000;
}

.btnranking{
    padding-left: 45px;
    padding-right: 45px;
    font-size: 18px !important;
    /*margin-top: -40px;*/
    background-color: #f48620;
    border: 3px solid #000;
    color: #fff;
}

.downScroll{
    font-size: 35px;
}

.downScrollLink{
    text-decoration: none;
}

.confetti-button{
    font-family: 'Helvetica', 'Arial', sans-serif;
    display: inline-block;
    font-size: 1em;
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    position: relative;
    transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
    /*box-shadow: 0 2px 25px rgba(240, 16, 165, 0.5);*/
}

.confetti-button:focus { outline: 0; }

.confetti-button:before, .confetti-button:after {
    position: absolute;
    content: '';
    display: block;
    width: 140%;
    height: 100%;
    left: -20%;
    z-index: -1000;
    transition: all ease-in-out 0.5s;
    background-repeat: no-repeat;
}

.confetti-button:before {
    display: none;
    top: -75%;
    background-image: radial-gradient(circle, #026682 20%, transparent 20%), radial-gradient(circle, transparent 20%, #026682 20%, transparent 30%), radial-gradient(circle, #026682 20%, transparent 20%), radial-gradient(circle, #026682 20%, transparent 20%), radial-gradient(circle, transparent 10%, #026682 15%, transparent 20%), radial-gradient(circle, #026682 20%, transparent 20%), radial-gradient(circle, #026682 20%, transparent 20%), radial-gradient(circle, #026682 20%, transparent 20%), radial-gradient(circle, #026682 20%, transparent 20%);
    background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
}

.confetti-button:after {
    display: none;
    bottom: -75%;
    background-image: radial-gradient(circle, #026682 20%, transparent 20%), radial-gradient(circle, #026682 20%, transparent 20%), radial-gradient(circle, transparent 10%, #026682 15%, transparent 20%), radial-gradient(circle, #026682 20%, transparent 20%), radial-gradient(circle, #026682 20%, transparent 20%), radial-gradient(circle, #026682 20%, transparent 20%), radial-gradient(circle, #026682 20%, transparent 20%);
    background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
}

.confetti-button:active {
    transform: scale(0.9);
    background-color: #000;
    box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2);
}

.confetti-button.animate:before {
    display: block;
    animation: topBubbles ease-in-out 0.75s forwards;
}

.confetti-button.animate:after {
    display: block;
    animation: bottomBubbles ease-in-out 0.75s forwards;
}

@keyframes
    topBubbles {  0% {
        background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
    }
    50% {
        background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
    }
    100% {
        background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
        background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
}

@keyframes
    bottomBubbles {  0% {
        background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
    }
    50% {
        background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
    }
    100% {
        background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
        background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
}

#ourThoughtsWrapper{
    margin-bottom: 0 !important;
    padding: 0 0 1rem 0;
}

#whyusWrapper {
    padding: 0 0 1.5rem 0 !important;
}

#downScrollLink:hover{
    text-decoration: none !important;
}

.downScrollLink{
    width: 35px !important;
    margin: auto !important;
}

nav.navbar .navbar-nav .nav-link:hover {
    color: #6102b9 !important;
    border-radius: 30px;
    font-weight: 500;
}

nav.navbar .navbar-nav .nav-item .nav-link.active {
    color: #6102b9 !important;
    border-radius: 30px;
    font-weight: 500;
}

.table2 thead th tr{
    background-image: linear-gradient(to right, #dc025a 0%, #361445 100%);
}

.miembros {
    margin-top: -60px;
    background-color: #fff;
    border: 3px solid #000;
    color: #000;
    font-size: 20px;
}

.miembros:hover{
    cursor: initial;
}

.ranktabheadder, .detailtabheadder{
    background-image: linear-gradient(to right, #54c8e2 0%, #02466a 100%);
    color: #fff;
}

.odd{
    background-color: #058083 !important;
}

.even{
    background-color: #43b2b5 !important;
}

.table-responsive{
    border-radius: 20px !important;
}

.table-responsive > table{
    margin-bottom: 0 !important;
}

.btn-bonos{
    background-color: #3acecc !important;
    cursor: context-menu !important;
    color: #fff !important;
}

.tableBonos{
    border: 0 !important;
    padding: 0 !important;
}

.tableBonos td, .tableBonos th, .tableBonos thead th {
    border-top: 0 !important;
    border-bottom: 0 !important;
    padding: 0 !important;
}

.bonoTop{
    background-color: #ededee;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.bonoBottom{
    background-color: #ededee;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.bonoMiddle{
    background-color: #f6f7f7 !important;
}

.bonoMiddleodd{
    background-color: #ededee;
}

.btnPregFrec{
    color: #fff !important;
    border: 3px solid #000;
    border-radius: 25px !important;
    background: linear-gradient(to right, #c24291 0%, #7f4e9a 100%);
}

.btnPregFrec:hover, .btnTerminos:hover{
    border: 3px solid #000;
}

.btnTerminos{
    color: #fff !important;
    border: 3px solid #000;
    border-radius: 25px !important;
    background: linear-gradient(to left, #c24291 0%, #7f4e9a 100%);
}

#servicesWrapper {
    padding: 0 0 8.3rem 0;
}