@font-face {
    font-family: "Comfortaa";
    src: url("../../../fpro/fonts/comfortaa/Comfortaa-Regular.ttf");
}

body{
    font-family: 'Comfortaa', Arial, sans-serif !important;
}

.blur-bg{
    width: 100%;
    height: 100%;
    position: fixed;
    background: #1b1c25 url('../../img/influencia30/simuladorbg.png') no-repeat fixed;
    background-size: cover;
    z-index: -2;
}

.personal-shadow{
    -webkit-box-shadow: 0px 0px 19px 2px rgba(128,128,128,1);
    -moz-box-shadow: 0px 0px 19px 2px rgba(128,128,128,1);
    box-shadow: 0px 0px 19px 2px rgba(128,128,128,1);
}


.logo{
    margin: auto;
    max-height: 115px;
    width: 30%;
}

@media (max-width: 768px) {
    .logo{
        margin: auto;
        width: 50%;
    }
}

@media (max-width: 576px) {
    .logo{
        margin: auto;
        width: 80%;
    }
}

.btn-maingradient-color{
    color: #fff;
    background-image: linear-gradient(to top, #9b23ea 0%, #af4a8f 100%);
    background-color: #9b23ea;
    border: 0;
}

.nav-header-pers{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, #020024 0%, #5d85be 0%, #5fa38c 100%);
}

.pull-right{
    float: left;
    margin-right: -500px;
}

.swal2-popup .swal2-actions {
    margin: 20px !important;
}

.form-control-rounded{
    text-align: center;
}

.swal2-modal{
    width: 40% !important;
}

.swal2-footer{
    border-top: 0 !important;
}

.modal-dialog{
    max-width: 70% !important;
}

.modal-content > .swal2-popup{
    width: 100% !important;
}

.total-commodities .widget-icon, .total-coins .widget-icon, .total-currencies .widget-icon{
    right: 40% !important;
}

.widget-content-area{
    box-shadow: 0px 0px 0px rgba(255,255,255,0) !important;
}

.btn-main-gradient{
    background-image: linear-gradient(to top, #3bbc43 0%, #86ffb5 100%) !important;
}

.opcional{
    color: tomato;
    font-size: 10px !important;
}

.modal-open{
    overflow: auto !important;
}

.swal2-container .swal2-popup{
    padding-bottom: 0 !important;
}

@media (max-width: 841.6px){
    .swal2-container .swal2-popup .swal2-header .swal2-image{
        width: 100% !important;
    }

    .swal2-modal {
        width: 100% !important;
    }
}

@media (max-width: 575.4px){
    .modal  .modal-dialog {
        max-width: 100% !important;
    }
}

#chat-circle i {
    font-size: 30px;
    color: #fff;
    padding: 16px;
    background: #488e34;
    background-image: none;
    background-image: none;
    background-image: linear-gradient(to right, #00a5e0 0%, #242468 100%);
    border-radius: 50%;
    letter-spacing: 0;
}

#chat-circle {
    position: fixed;
    bottom: 55px;
    right: 15px;
    background-color: transparent;
    border-radius: 5px;
    color: #fff;
    padding: 0;
    z-index: 2999;
    cursor: pointer;
    box-shadow: none;
    outline: 0;
    -webkit-transition: background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1), color 0.2s cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1);
    transition: background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1), color 0.2s cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1);
    -o-transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1), color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1), color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1), color 0.2s cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1);
    will-change: box-shadow, transform;
}

.players-group{
    width: 100% !important;
    max-width: 100% !important;
}

.players-group > .row {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    max-width: 100%;
    margin: 0 !important;
}

.players-group > .row > .col-xs-4 {
    flex: 0 0 auto;
}


.text-purpple{
    color: #242468 !important;
}

/*==================================== Calculadora ===========================================*/

.inputText-control{
    border: 3px solid #00aa97 !important;
}

.select-control {
    border: 3px solid #bb9150;
    color: #000;
    font-size: 15px;
}
code { color: #3862f5; }
.form-control:disabled, .form-control[readonly] { background-color: #f1f3f9; border-color: #f1f3f1; }
.select-control:focus { border-color: #bb9150; }
.input-group-text {
    background-color: #f3f4f7;
    border-color: #bb9150;
    color: #6156ce;
}
select.form-control {
    display: inline-block;
    width: 100%;
    height: calc(2.25rem + 2px);
    vertical-align: middle;
    background: #fff url('../../../fpro/img/arrow-down.png') no-repeat right .75rem center;
    background-size: 13px 14px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
select.form-control::-ms-expand { display: none; }

.hr-node{
    transform: rotate(90deg);
    width: 10%;
    border: 3px solid #00aa97;
}

.modal-content {
    border-radius: 25px !important;
}

#modalProductos img{
    cursor: pointer;
}

#html5-extension_filter label .form-control{
    width: 100% !important;
}

.hiden{
    display: none;
}

table.dataTable td, table.dataTable th {
    padding: 4px 4px !important;
}

.bonificacionTab{
    border-radius: 25px !important;
    border: 1px solid #000 !important;
}

.bonificacionTab table{
    margin-bottom: 0 !important;
}

.bonificacionTab .table-striped tbody tr:nth-of-type(2n+1) {
    background-color: #d8ecf9 !important;
}

.bonificacionTab .table-striped tbody tr:nth-of-type(1n+1) {
    background-color: #a6dcff;
}

.rangoEjecutivo{
    border: 1px solid #00d38f !important;
    color:#00d38f !important;
    background-color: transparent;
    box-shadow: none;
}

.rangoEjecutivo:hover{
    color: #fff !important;
    background-color: #00d38f;
}

.rangoPlatino{
    border: 1px solid #00b0c7 !important;
    color:#00b0c7 !important;
    background-color: transparent;
    box-shadow: none;
}

.rangoPlatino:hover{
    color: #fff !important;
    background-color: #00b0c7;
}

.rangoDiamante{
    border: 1px solid #962581 !important;
    color:#962581 !important;
    background-color: transparent;
    box-shadow: none;
}

.rangoDiamante:hover{
    color: #fff !important;
    background-color: #962581;
}

.rangoDiamanteReal{
    border: 1px solid #1c4370 !important;
    color:#1c4370 !important;
    background-color: transparent;
    box-shadow: none;
}

.rangoDiamanteReal:hover{
    color: #fff !important;
    background-color: #1c4370;
}

.displayMovil{
    display: none;
}

@media (max-width: 575.4px){
    .displayMovil{
        display: block;
    }

    .displayDesktop{
        display: none;
    }
}

@media (max-width: 495.2px){
    .salto{
        width: 100%;
        margin-bottom: 5px;
    }

    .alignPais{
        margin: auto;
    }
}

.btnNode{
    border: 3px solid #00aa97;
}

.bg-white:hover{
    color: #000 !important;
}

.btnAddNodo1, .btnAddNodo2, .btnAddNodo3{
    margin-top: -70px !important;
}

.btnHidePlayer{
    cursor: pointer !important;
    color: #ff6347;
}

.custom-dropdown a.dropdown-toggle, .custom-dropdown-icon a.dropdown-toggle {
    padding: 0 !important;
}