@font-face {
    font-family: "Comfortaa";
    src: url("../../fonts/comfortaa/Comfortaa-Regular.ttf");
}

body{
    font-family: 'Comfortaa', Arial, sans-serif !important;
    background-image: url('../../img/puntos_connection/fondo.png');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.badge{
    font-family: 'Comfortaa', Arial, sans-serif !important;
}

.menu{
    color: black;
}

.modal-dialog{
    margin: 1.75rem auto;
}

h4{
    color: #000;
}

a {
    color: #000;
    text-decoration: none;
    background-color: transparent;
}

.btnExcel{
    background-image: linear-gradient(135deg, #9434ab 0%, #621a4a 100%);
    border: none;
    font-size: 14px;
    padding: 9px 18px;
    transition: 0.3s;
    color: #fff;
}

.btnExcel:hover{
    background-image: linear-gradient(135deg, #621a4a 0%, #9434ab 100%);
}

.dataTables_filter input{
    border: 1px solid #805dca;
}

#headerWrapper {
    min-height: auto;
}

.current{
    background: #ffffffba;
    border-radius: 25px;
}

.puntajeInput {
    color: #d3d3d3;
    border-radius: 30px;
    height: auto;
    border: none;
}

.btnicon {
    border-radius: 50%;
    position: absolute;
    right: 9px;
    top: -1px;
    display: inline-flex;
    width: 35px;
    height: 35px;
    color: #fff;
    align-items: center;
    justify-content: center;
    background-color: #72217b;
    cursor: context-menu !important;
}

.btnicon:hover{
    color: #fff !important;
}

.form-control:disabled, .form-control[readonly] {
    background-color: #fff;
    opacity: 1;
    color: #000;
}

#whyusWrapper {
    padding: 4rem 0 1rem 0;
}

.m-md-auto{
    margin: auto;
}

.headerContent {
    margin-left: 0 !important;
    margin: auto !important;
}

svg {
    display: inline-block;
    left: 0;
}

.requisitos .card {
    border: none !important;
    border-radius: 0 !important;
    cursor: context-menu !important;
    border-bottom: 1px solid #e9ecef !important;
    border-radius: 15px !important;
}

.requisitos .card:hover {
    border-color: #6156ce !important;
    color: #6156ce !important;
}

#servicesWrapper {
    padding: 0 0 0 0;
}

.ranktabheadder, .detailtabheadder {
    background-image: linear-gradient(to right, #9a418f 0%, #804fbf 100%) !important;
    color: #fff !important;
}
.table > thead > tr > th {
    color: #000 !important;
    font-weight: 600;
}

.table-responsive {
    border-radius: 20px !important;
}

.table{
    margin-bottom: 0 !important;
}

.table-striped tbody tr:nth-of-type(2n+1) {
    background-color: rgba(0,0,0,.05) !important;
}

.btnModal{
    background: linear-gradient(90deg, #661c51 0%, #9434ab 100%);
    color: white;
    border: none;
    border-radius: 25px !important;
    font-size: 20px;
}

#chat-circle i {
    font-size: 30px;
    color: #fff;
    padding: 16px;
    background: #488e34;
    background-image: none;
    background-image: linear-gradient(to right, #9434aa 0%, #671d53 100%);
    border-radius: 50%;
    letter-spacing: 0;
}

#chat-circle {
    position: fixed;
    bottom: 55px;
    right: 15px;
    background-color: transparent;
    border-radius: 5px;
    color: #fff;
    padding: 0;
    z-index: 999;
    cursor: pointer;
    box-shadow: none;
    outline: 0;
    -webkit-transition: background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1), color 0.2s cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1);
    transition: background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1), color 0.2s cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1);
    -o-transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1), color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1), color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1), color 0.2s cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1);
    will-change: box-shadow, transform;
}

hr {
    border-top: 3px solid #000 !important;
}

.miembros {
    margin-top: -60px;
    background-color: #fff;
    border: 3px solid #000;
    color: #000;
    font-size: 20px;
    cursor: context-menu !important;
}

.swal2-popup{
    border-radius: 50px !important;
}

.swal2-footer{
    color: #e95f2b !important;
}

.statusprs{
    color: #e95f2b;
    margin-right: 0 !important;
}

.premiosTab tbody tr:nth-of-type(2n+1) {
    background-color: #6b5289 !important;
    color: #fff !important;
}

.premiosTab tbody tr:nth-of-type(2n+2) {
    background-image: linear-gradient(to right, #9a418f 0%, #804fbf 100%) !important;
    color: #fff !important;
}

.vp100{
    background-color: #ffed00 !important;
    border: 1px solid #ffed00 !important;
    padding: 0 !important;
}

.pill_vp100{
    font-size: 12px !important;
    background-color: #ffed00 !important;
    padding: 10px !important;
    color: #000 !important;
    border: 1px solid #000 !important;
}

._1kitInf{
    background-color: #ffc000 !important;
    border: 1px solid #ffc000 !important;
    padding: 0 !important;
}

.pill_1kitInf{
    font-size: 12px !important;
    background-color: #ffc000 !important;
    padding: 10px !important;
    color: #000 !important;
    border: 1px solid #000 !important;
}

._2kitInf{
    background-color: #a3195b !important;
    border: 1px solid #a3195b !important;
    padding: 0 !important;
}

.pill_2kitInf{
    font-size: 12px !important;
    background-color: #a3195b !important;
    padding: 10px !important;
    color: #fff !important;
    border: 1px solid #000 !important;
}

._1KinYa{
    background-color: #36a9e1 !important;
    border: 1px solid #36a9e1 !important;
    padding: 0 !important;
}

.pill_1KinYa{
    font-size: 12px !important;
    background-color: #36a9e1 !important;
    padding: 10px !important;
    color: #000 !important;
    border: 1px solid #000 !important;
}

._3kitInf{
    background-color: #662483 !important;
    border: 1px solid #662483 !important;
    padding: 0 !important;
}

.pill_3kitInf{
    font-size: 12px !important;
    background-color: #662483 !important;
    padding: 10px !important;
    color: #fff !important;
    border: 1px solid #000 !important;
}